html,
body {
  font-family: "Stymie", "Baskerville", serif;
}

figcaption {
  font-weight: 700;
}

table {
  margin: 15px 0;
}

td,
th {
  padding-right: 15px;
}

th {
  font-size: 12px;
  font-weight: 300;
}

td {
  text-align: center;
}

.row:nth-last-child(2) {
  height: 25px;
  vertical-align: text-top;
}

.total {
  height: 22px;
  line-height: 22px;
  margin-left: 35px;
  letter-spacing: 6px;
}

.lineover {
  border-top: 2px solid #444;
  padding: 0;
}
