td {
  padding-right: 15px;
}

.row:nth-last-child(2) {
  height: 25px;
  vertical-align: text-top;
}

.total {
  height: 22px;
  line-height: 22px;
  margin-left: 35px;
  letter-spacing: 6px;
}

.lineover {
  border-top: 2px solid #444;
  padding: 0;
}
